* {
  margin: 0;
  padding: 0;
}
h2 {
  background-color: yellow;
  width: 200px;
  height: 200px;
}
h1 {
  background-color: blue;
  width: 200px;
  height: 300px;
}
h4 {
  background-color: #609326;
  width: 200px;
  height: 300px;
}
